body {
  font-family: $body-font;
}

.header {
  &__image {
    width: 200px;
  }
}

.page-title {
  text-align: center;
}

.stories {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .story {
    overflow: hidden;
    width: calc(95% / 3);
    border: 1px solid $grey-medium;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 1px 3px -2px $black;
    transition: box-shadow $common-transition ease;
    cursor: pointer;

    @media screen and (max-width: $breakpoint-m) {
      width: calc(95% / 2);
    }

    @media screen and (max-width: $breakpoint-s) {
      width: 100%;
    }

    &:hover {
      box-shadow: 5px 4px 15px -4px $black;
      .story__image {
        transform: scale(1.1);
      }
    }

    .story__image-container {
      width: 100%;
      position: relative;
      padding-top: 75%;
      overflow: hidden;
      .story__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: contain;
        transition: all $common-transition ease;
      }
    }

    &__text-container {
      padding: 20px;

      .blog-header {
        display: flex;
        justify-content: space-between;

        .date-posted {
          font-size: 0.9em;
        }
        .category {
          background-color: $dark-blue;
          color: $white;
          padding: 5px;
          border-radius: 3px;
          text-transform: capitalize;
        }
      }
      .h1 {
        font-size: 1.1em;
      }
      .subtitle {
        font-size: 0.9em;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font;
}
